<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="n1" >
        <select v-model="n2">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
        <input type="text" v-model="n3" >
        <input type="button" value="=" @click="Calac" >

        <input type="text" v-model="n4" >
       
    </div>

    <script src="./lib/vue.js"></script>
    

    <script>
        var vm  = new Vue({
            el:"#app",
            data:{
                n1:0,
                n2:'+',
                n3:0,
                n4:0
            },
            methods:{
                Calac:function(){debugger
                    // switch(this.n2)
                    // {
                    //     case "+":
                    //         return this.n4 = parseFloat(this.n1) + parseFloat(this.n3)
                    //         break;
                    //     case "-":
                    //         return this.n4 = parseFloat(this.n1) - parseFloat(this.n3)
                    //         break;
                    //     case "*":
                    //         return this.n4 = parseFloat(this.n1) * parseFloat(this.n3)
                    //         break;
                    //     case "/":
                    //         return this.n4 = parseFloat(this.n1) / parseFloat(this.n3)
                    //         break;

                    // }

                    //eval() 解析并执行字符串代码
                    var codeStr  = 'parseFloat(this.n1)' +this.n2+ 'parseFloat(this.n3)';
                    console.info(codeStr);
                    return this.n4 = eval(codeStr);
                 

                }
            }

        });
    </script>
</body>
</html>